body{
  background: #ffffff;
  margin: 0;
}

@navbar-width: 300px;
@wiki-options-width: 240px;
@top: 40px;

#sidebar{
  position: fixed;
  background: #1c1c1c;
  border-right: 1px solid #494949;
  top: @top;
  bottom: 0;
  width: @navbar-width;

  #pages-list{

    a.entity {
      padding: 10px;
      display: block;
      font-size: 14px;
      list-style-type: none;
      font-family: "PT Sans", sans-serif;
      background: #3c3c3c;
      color: #b4b4b4;
      border-bottom: 1px solid #222222;
      text-decoration: none;
    }

  }
}

#header{
  position: fixed;
  background: #6abc6e;
  display: block;
  overflow: visible;
  top: 0;
  right: 0;
  left: 0;
  height: @top;

  #path-bar{
    display: inline;

    ol{
      white-space: nowrap;
      margin: 0;
      padding: 0;
      display: inline-block;
      font-family: "Share Tech Mono";
    }

    li {
      display: inline-block;
      line-height: @top;
      position: relative;

        a.path{
          color: #314e32;
          text-decoration: none;
        }

        i.icon-home{
          margin-left: 10px;
        }

        i.icon-right-open-big{
          color: #579c5b;
          margin: 0 5px;
        }

    }

  }

  #auth-area{
    float: right;
    margin-right: 40px;

    #login-dialog{
      position: absolute;
      background: #bbb;
      padding: 10px 20px 20px 20px;
      right: 40px;
      top: 5px;

      input{
        display: block;
        width: 200px;
        padding: 10px;
        font-size: 14px;
      }

      .login-register-button{
        display: block;
        margin-top: 15px;
        background: #444444;
        color: white;
        text-align: center;
        padding: 4px;
        cursor: pointer;
      }

      p.pointer{
        margin-top: 10px;
        cursor: pointer;
      }

      div{
        clear: both;
      }
    }
  }

  span.header-title{
    background: #1c2a30;
    overflow: hidden;
    display: inline-block;
    padding: @top/8 @top/4;
    margin: @top/6 0;
    float: right;
    border-radius: 4px;

    h3.pointer{
      color: #a5d8bc;
      font-size: 12px;
      font-family: 'Maven Pro';
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  p{
    margin: 0;
  }

}

@wiki-options-padding: 20px;

#wiki-content{
  float: left;
  overflow: hidden;
  margin-left: @navbar-width;
  margin-top: @top;
  margin-right: @wiki-options-width + @wiki-options-padding * 2;
  padding: 20px 40px 40px 40px;
  max-width: 700px;
  clear: left;

  h1{
    margin: 20px 0;
    font-family: 'Roboto Slab', serif;
    color: #6da378;
  }

  p{
    margin: 10px 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
  }
}

#wiki-options{
  overflow: hidden;
  width: @wiki-options-width;
  padding: @wiki-options-padding;
  position: fixed;
  top: @top;
  bottom: 0;
  right: 0;
  background: #eee;

  #edit-page-button{
    cursor: pointer;
    background: #aaa;
  }

}

@font-face{
  font-family: 'Fira Sans';
  src: url('fonts/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),
    url('fonts/FiraSans-Regular.eot') format('embedded-opentype'),
    url('fonts/FiraSans-Regular.woff') format('woff'),
    url('fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('fonts/Fira/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('fonts/Fira/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('fonts/Fira/woff/FiraMono-Regular.woff') format('woff'),
         url('fonts/Fira/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Doppio+One|Maven+Pro:500);
